<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logActivity" xsi:type="File" fileName="${basedir}/logs/LogActivity_${shortdate}.csv">
      <layout xsi:type="CsvLayout" delimiter="Semicolon" withHeader="true">
        <column name="time" layout="${longdate}" />
        <column name="level" layout="${level:upperCase=true}"/>
        <column name="type" layout="${event-properties:item=type}" />
        <column name="login" layout="${message}" />

      </layout>
    </target>
    <target name="scanRegistry" xsi:type="File" fileName="${basedir}/logs/ScanRegistry_${shortdate}.csv">
      <layout xsi:type="CsvLayout" delimiter="Semicolon" withHeader="true">
        <column name="time" layout="${longdate}" />
        <column name="login" layout="${message}" />
        <column name="code" layout="${event-properties:item=code}" />
        <column name="engineCodeA" layout="${event-properties:item=engineCodeA}" />
        <column name="engineCodeB" layout="${event-properties:item=engineCodeB}" />
        <column name="enginePositionA" layout="${event-properties:item=enginePositionA}" />
        <column name="enginePositionB" layout="${event-properties:item=enginePositionB}" />
        <column name="programType" layout="${event-properties:item=programType}" />
      </layout>
    </target>
    <target name="errorFile" xsi:type="File" fileName="${basedir}/logs/Error_${shortdate}.txt"/>
    <target name="scanRegistry" xsi:type="File" fileName="${basedir}/logs/ScanRegistry_${shortdate}.txt"/>
  </targets>

  <rules>
    <logger name="LogActivity" minlevel="Info" writeTo="logActivity" />
    <logger name="Exceptions" minlevel="Info" writeTo="errorFile" />
    <logger name="ScanRegistry" minlevel="Info" writeTo="scanRegistry" />
  </rules>
</nlog>